<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css/navbar.css" />
    <link rel="stylesheet" href="../public/css/index.css" />
    <title>Home</title>
  </head>
  <body>
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../public/image/logo.png" width="30" height="24" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                style="font-weight: bold; font-size: 18px"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/formProject"
                style="font-size: 18px"
                >Add Project</a
              >
            </li>
          </ul>
          <button  class="btn btn-dark" type="button" style="font-size: 15px">
            <a href="/contact" style="text-decoration: none; color: white">Contact Me</a>
          </button>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Start Card -->
    <div class="container">
      <div class="card" id="card">
        <div class="content">
          <h1 style="font-weight: bold;">Hi Welcome to my hut</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quibusdam, itaque vel quaerat suscipit perspiciatis ratione esse quos numquam velit cum reiciendis odit amet, repellat placeat facilis ullam autem impedit laborum. Possimus nam nemo dignissimos natus atque architecto modi, sapiente libero. Saepe repellendus esse ipsam dolore ut reiciendis explicabo incidunt ratione dolorem quae placeat, odit magnam molestiae totam repellat labore perspiciatis. Aliquid aliquam deserunt nisi ullam laborum cum rem sit nostrum, dolore ad accusamus iste recusandae exercitationem maiores provident est, commodi quibusdam, sequi voluptatem magni beatae? Magnam quo culpa eius veritatis rerum maxime, cupiditate pariatur, fugit, in ratione officiis quae!
          </p>
          <div>
            <a href="https://t.me/Azizulhakim30">
              <button id="button">contact</button>
            </a>
            <a href="./asset/CV.pdf" download
              >download CV <i class="fa-solid fa-download" ></i
            ></a>
          </div>
          
          <div class="sosmed">
            <a href="https://www.linkedin.com/in/azizul-hakim-04b5841b5/"       class="linkedin">
              <i class="fa-brands fa-linkedin" alt="linkedin"></i></i
            ></a>
            <a href="https://www.instagram.com/azizhakim98/" class="instagram"
              ><i class="fa-brands fa-square-instagram" alt="instagram"></i></i
              ></a>
            <a href="https://www.facebook.com/azizulhakim63" class="fecebook"
              ><i class="fa-brands fa-square-facebook" alt="facebook"></i></i
            ></a>
            <a href="#" class="twitter"
              ><i class="fa-brands fa-square-twitter" alt="twitter"></i></i
              ></a>
          </div>
        </div>

        <div class="card" style="width: 18rem;" id="profil">
          <img
            src="../public/image/Foto.jpg"
            class="card-img-top"
          />
          <div class="card-body" style="text-align: center;">
            <h3 class="card-text" style="font-weight: bold; margin-bottom:-5px">Azizul Hakim</h3>
            <p class="card-text">Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Start Project -->
    <div class="project">
      <h1 style="text-align: center;font-weight:bold;margin: 50px;">MY PROJECT</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" id="project">
          <div class="card" id="card-project">
            <img src="../public/image/webApp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="icons">
                <i class="fa-brands fa-google-play"></i>
                <i class="fa-brands fa-android"></i>
                <i class="fa-brands fa-java"></i>
              </div>
              <a href="#" class="btn btn-dark">Edit</a>
              <a href="#" class="btn btn-dark">delete</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" id="card-project">
            <img src="../public/image/webApp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="icons">
                <i class="fa-brands fa-google-play"></i>
                <i class="fa-brands fa-android"></i>
                <i class="fa-brands fa-java"></i>
              </div>
              <a href="#" class="btn btn-dark">Edit</a>
              <a href="#" class="btn btn-dark">delete</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" id="card-project">
            <img src="../public/image/webApp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="icons">
                <i class="fa-brands fa-google-play"></i>
                <i class="fa-brands fa-android"></i>
                <i class="fa-brands fa-java"></i>
              </div>
              <a href="#" class="btn btn-dark">Edit</a>
              <a href="#" class="btn btn-dark">delete</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" id="card-project">
            <img src="../public/image/webApp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="icons">
                <i class="fa-brands fa-google-play"></i>
                <i class="fa-brands fa-android"></i>
                <i class="fa-brands fa-java"></i>
              </div>
              <a href="#" class="btn btn-dark">Edit</a>
              <a href="#" class="btn btn-dark">delete</a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
